@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    
    --primary-light-val: 350 72% 51%;
    --primary-dark-val: 350 72% 51%;
    
    --primary: var(--primary-light-val);
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 13% 96%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: var(--primary);
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 355.7 100% 97.3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: var(--primary);
    --radius: 1.5rem;
  }
  .dark {
    --background: 240 5% 9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: var(--primary-dark-val);
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63%;
    --accent: var(--primary);
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: var(--primary);
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground font-body antialiased; }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
