@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    
    --primary-light-val: 350 72% 51%;
    --primary-dark-val: 350 72% 51%;
    
    --primary: var(--primary-light-val);
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 13% 96%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: var(--primary);
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 355.7 100% 97.3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: var(--primary);
    --chart-1: var(--primary);
    --chart-2: 350 62% 46%;
    --chart-3: 350 52% 41%;
    --chart-4: 350, 42%, 36%;
    --chart-5: 350, 32%, 31%;
    --radius: 1.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: var(--primary);
  }
  .dark {
    --background: 240 5% 9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: var(--primary-dark-val);
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63%;
    --accent: var(--primary);
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: var(--primary);
    --chart-1: var(--primary);
    --chart-2: 350 62% 46%;
    --chart-3: 350 52% 41%;
    --chart-4: 350 42% 36%;
    --chart-5: 350 32% 31%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
